
  h1{
    justify-content: center;
    font-size:xxx-large;
    text-align: center;
    text-decoration: underline hotpink;
    text-shadow: 3px 6px 12px rgba(0, 0, 0, 0.5);
    padding: 10px;
  }

 #girls{
  text-shadow: 8px 14px 14px  hotpink;
  text-decoration: underline hotpink;
 } 

 #boys{
  text-shadow: 8px 14px 14px  blue;
  text-decoration: underline blue;
 } 

 
 

  